DB_USER=
DB_PASSWORD=
DB_NAME=mverse_db

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

#A MODIFIER AVEC VOS IDENTIFIANTS DE BASE DE DONNÉES
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@db:5432/mverse_db

JWT_SECRET=your_jwt_secret_key

TMDB_API_READONLY=

LASTFM_API_KEY=
LASTFM_API_SECRET=

RAWG_API_KEY=